IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Bai_tap_lon')
BEGIN
    CREATE DATABASE [Bai_tap_lon]
END
GO

USE [Bai_tap_lon] 
GO
/****** Object:  Table [dbo].[dang_nhap]    Script Date: 5/23/2026 1:37:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dang_nhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinh_vien]    Script Date: 5/23/2026 1:37:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinh_vien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenSinhVien] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dang_nhap] ON 

INSERT [dbo].[dang_nhap] ([id], [username], [password]) VALUES (1, N'Hiếu Hải Hùng', N'123456789')
INSERT [dbo].[dang_nhap] ([id], [username], [password]) VALUES (2, N'Hieu', N'99999999')
INSERT [dbo].[dang_nhap] ([id], [username], [password]) VALUES (3, N'admin_TH', N'12345678')
SET IDENTITY_INSERT [dbo].[dang_nhap] OFF
GO
SET IDENTITY_INSERT [dbo].[sinh_vien] ON 

INSERT [dbo].[sinh_vien] ([ID], [TenSinhVien], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi]) VALUES (2, N'Phạm Trung Hiếu', CAST(N'2006-12-01' AS Date), N'Nam', N'0703673065', N'Hà Nội')
INSERT [dbo].[sinh_vien] ([ID], [TenSinhVien], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi]) VALUES (3, N'Phạm Huy Hùng', CAST(N'2026-05-08' AS Date), N'Nam', N'09868242342', N'HA NOI')
INSERT [dbo].[sinh_vien] ([ID], [TenSinhVien], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi]) VALUES (4, N'Le quang hai', CAST(N'2026-05-12' AS Date), N'Nam', N'090980432', N'Bac Giang')
SET IDENTITY_INSERT [dbo].[sinh_vien] OFF
GO
ALTER TABLE [dbo].[sinh_vien]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
